/* Independent Rules */
p {
  color: #303030;
  font-size: 18px;
}

h1, h2, strong, b {
  color: #2f3a4f;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}



blockquote p {
  font-size: 18px;
  font-style: italic;
}

ul.content-navbar-items > li {
 list-style-type: none;
}

ul.content-navbar-items {
  margin-left: 0px;
  padding-left: 0px;
}

hr {
  margin: 0px;
}

h4 {
  font-size: 18px;
}

.article__tag {
  background-color: #f4f4f4;
  color: #28313a;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

/* Content Navbar */

.content-navbar {
  font-size: 14px;
  color: #555;
  margin-left: 0px;
  border: 1px solid #d5d5d5;
}

.content-navbar-header {
  font-size: 18px;
}

.content-navbar-items {
  color: #555;
}

.content-navbar-item a {
  font-size: 15px;
  color: #555;
}

/* Article Rules */

.article__content {
    font-family: 'PT Sans', sans-serif;
}

.article__content > h1 {
    font-size: 32px;
    color: #2f3a4f;
}

div.article__content h2 {
    font-size: 28px;
    line-height: 1.3;
    color: #2f3a4f;
}

div.article__content h3 {
    font-size: 26px;
    line-height: 1.3;
    color: #2f3a4f;
}

div.article__content p {
    font-size: 16px;
    line-height: 1.5;
}

div.article__content ul {
    font-size: 16px;
    line-height: 1.5;
    counter-reset: item;
    list-style-type: none;
    padding: 0px;
}

div.article__content ol {
    padding: 0px;
    font-size: 16px;
    line-height: 1.5;
    counter-reset: item;
    list-style-type: none;
}

div.article__content ol li::before {
    text-align: center;
    display: inline-block;
    counter-increment: item; 
    content: counter(item);
    font-size: 16px;
    color: #1c5ca4;
    margin-right: 10px;
    margin-top: 8px;
    background: #ebebeb;
    width: 24px;
    height: 24px;
    line-height: 25px;
}

div.article__content ul li::before {
    margin-top: 8px;
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    counter-increment: item; 
    content: '';
    transform: translateY(20%);
}

div.article__content ul.minuses li::before {
    opacity: .5;
    margin-top: 8px;
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    counter-increment: item; 
    content: '';
    transform: translateY(20%);
    background-image: url(/static/images/close.svg);
}