{% load static %}
<header class="pb-3">
  <div class="container-fluid bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <!-- Navbar -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
            <!-- Navbar Brand -->
            <a class="navbar-brand p-0" href="//blog.lightwork.kz/">
            <img src="{% static 'images/logo.png' %}" alt="logo" width="100px"></a>

            <!-- Navbar Toggle -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="nav justify-content-around">
                      <a class="nav-link" href="//master.lightwork.kz" style="color: #d35b29">Мастер на час <span class="sr-only">master</span></a>
                      <a class="nav-link" href="//cleaning.lightwork.kz" style="color: #26295c">Клининг <span class="sr-only">cleaning</span></a>
                      <a class="nav-link" href="//gruzchiki.lightwork.kz" style="color: #75a24f">Грузчики разнорабочие <span class="sr-only">movers</span></a>
                      <div class="row">
                    <div class="col-md-auto col-12 my-auto text-md-center text-left pb-2 pb-md-0">
                      <span class="nav-time pl-3">Режим работы:</span><span class="nav-time pl-3">8:00 - 22:00</span>
                    </div>
                    <div class="col-md-auto col-12 my-auto text-md-center text-left pb-2 pb-md-0 pl-3">
                      <a class="nav-phone link-unstyled pl-3" href="tel:+77773169691">+7 777 316 96 91</a>
                      <a class="nav-phone-link ml-3" href="tel:+77773169691">Заказать услугу</a>
                    </div>
                  </div>
                  </div>
                  
                </div>
                
          </nav>
        </div>
        
      </div>
    </div>
  </div>
</header>
